$primary: #20c997;

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$body-bg: $gray-800;
$body-color: $gray-100;
$body-secondary-color: $gray-600;

$alert-bg-scale: 40%;
$alert-color-scale: 30%;
$alert-border-scale: 20%;

$input-bg: $gray-600;
$input-focus-bg: $input-bg;
$input-placeholder-color: $gray-500;

$input-color: $body-color;
$input-focus-color: $body-color;
$input-border-width: 0;

$card-bg: $gray-700;

$nav-link-color: $body-color;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;

$nav-tabs-link-active-bg: $gray-700;
$nav-tabs-link-active-color: $primary;

$form-select-bg: $gray-600;
$form-select-color: $body-color;
$form-select-border-width: 0;

$form-file-button-bg: $primary;
$form-file-button-hover-bg: shade-color($form-file-button-bg, 5%);

$carousel-control-icon-width: 4rem;
$carousel-control-width: 4%;

$thumbnail-border-color: $gray-600;
$thumbnail-bg: $gray-700;

@import "../../node_modules/bootstrap/scss/bootstrap";